.switch-btn {
  display: inline-block;
  width: 46px;
  height: 24px;
  border-radius: 12px;

  background: rgba(58, 100, 250, 0.13);

  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
  content: "";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border-radius: 12px;

  background: rgb(58, 100, 250);
  top: 3px; /* положение кнопки по вертикали относительно основы */
  left: 4px; /* положение кнопки по горизонтали относительно основы */
  transition-duration: 300ms; /* анимация */
  position: absolute;
  z-index: 1;
}
.switch-on {
  background: rgb(58, 100, 250);
}
.switch-on::after {
  left: 36px;
  border-radius: 12px;
  left: 24px;
  background: rgb(255, 255, 255);
}

.asx {
  width: 168px;
}