.team_page_wrapper {
  background: #eef2ff;
}
.team_page_title h2 {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.add_moder svg {
  cursor: pointer;
  margin-bottom: 20px;
}
.team_list_item_left {
  display: flex;
  align-items: center;
  gap: 11px;
}
.team_list_item_left p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 17.01px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}
.team_list_item_left span {
  color: rgb(122, 122, 122);
  font-family: Open Sans;
  font-size: 10.47px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0%;
  text-align: left;
}
.team_list_item_left div {
  display: flex;
  flex-direction: column;
}
.team_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.team_list_item_right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.team_list_item_right button {
  width: 255px !important;
  height: 50px !important;
}

.team_page_modal_block_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 530px;
  margin-bottom: 20px;
  cursor: pointer;
}

.team_page_modal_block_title h3 {
  color: rgb(0, 0, 0);
font-family: Open Sans;
font-size: 24px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0%;
text-align: left;
}
.team_page_modal_block_content {
  display: none;
}
.team_page_modal_block_visible .team_page_modal_block_title svg{
  transform: rotate(180deg);
}
.team_page_modal_block_visible .team_page_modal_block_content {
  display: block;
}
.team_page_modal_block_content {
  margin-bottom: 50px;
}
.team_page_modal_block_visible:nth-child(2) .team_page_modal_block_content {
  margin: 0;
}