.shops_page {
  padding: 32px 44px;
}
.add_shop_btn {
  cursor: pointer;
  margin-bottom: 26px;
}
.name_shop_input {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 34px;
}
.name_shop_input p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.name_shop_input input {
  width: 418px;
  height: 44px;
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  text-indent: 10px;
}

.name_shop_input .save_btn button {
  width: 228px;
  height: 44px;
}
.shops_page_list_title h4 {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 15px;
}
.shops_page_list_item {
  box-sizing: border-box;
  border: 1px solid rgb(47, 116, 250);
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 30px;
}

.save_btn .shops_page_list_item_name_shop {
  box-sizing: border-box;
  border: 1px solid rgb(47, 116, 250);
  border-radius: 10px;
  width: 214px;
  height: 42px;
  background: rgb(47, 116, 250);
}
.shops_page_list_item_desc p {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 15.01px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
}
.shops_page_list_item_desc span {
  color: rgb(209, 209, 209);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
}

.shops_page_list_item_pass {
  width: 185px;
  height: 44px;
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
}

.edit_btn {
  box-sizing: border-box;
  border: 1px solid rgb(47, 116, 250);
  border-radius: 5px;
  width: 187px;
  height: 44px;
  background: transparent;
  color: rgb(47, 116, 250);
  font-family: Open Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
}
.shops_page_list_item_actions {
  display: flex;
  align-items: center;
  gap: 8px;
}
.shops_page_list_item {
  margin-bottom: 10px;
}
.shop_modal_input input {
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  width: 340px;
  height: 44px;
  text-indent: 24px;
  margin-top: 12px;
  margin-bottom: 20px;
}
.shop_modal_inputs {
  display: flex;
  align-items: start;
  gap: 10px;
}
.shop_modal_input textarea {
  width: 690px;
  height: 115px;
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  margin: 10px 0 20px;
}

.shop_modal_select_wrapper {
  width: 343px;
  height: 156px;
  box-sizing: border-box;
  /* button */
  border: 1px solid rgb(228, 228, 228);
  border-radius: 10px;
  margin: 12px 0;
  overflow: hidden;
}

.shop_modal_select_wrapper p {
  border: 1px solid transparent;
  padding: 8px 10px;
}
.shop_modal_select_wrapper p:hover {
  box-sizing: border-box;
  border: 1px solid rgb(58, 100, 250);
  background: rgb(58, 100, 250);
  color: #fff;
  cursor: pointer;
}
.shop_modal_select h2 {
  color: rgb(122, 122, 122);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0%;
  text-align: right;
}
.shop_modal_selects {
  align-items: flex-end;
  margin-bottom: 20px;
}
.shop_modal_date {
  position: relative;
}
.shop_modal_date_inc {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(228, 228, 228);
  cursor: pointer;
}
.shop_modal_date_increm {
  position: absolute;
  bottom: 27px;
  left: 9px;
}
.shop_modal_date_deccrem {
  position: absolute;
  bottom: 27px;
  left: 300px;
}
.shop_modal_input input {
  color: rgb(0, 0, 0);
font-family: Open Sans;
font-size: 13px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0%;
text-align: left;
}
.shop_modal_date input {
  text-indent: 50px;
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: left;
}
.shop_save_btn button {
  width: 215px;
height: 44px;
color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 15px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;

}