@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  background: #eef2ff;
}

.App {
  width: 100%;
  max-width: 1530px;
  margin: 0 auto;
}
.page_content_title h2 {
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 50px;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 36px;
}

a {
  text-decoration: none;
}
.page_content_wrapper {
  display: flex;
  align-items: start;
  gap: 17px;
}
.page_content_pages {
  border-radius: 10px;
  width: 1223px;
  min-height: 436px;
  background: rgb(255, 255, 255);
}

input,
textarea {
  outline: none;
}
button {
  cursor: pointer;
  border: none;
}
.page_wrapper,
.page_content_pages {
  position: relative;
}
.page_content_pages {
  margin-bottom: 30px;
}
input[type="text"] {
  text-indent: 10px;
}

/* hovers */

.save_btn button {
  transition: all 0.4s ease;
}

.save_btn button:hover {
  transition: all 0.4s ease;
  background: rgb(11, 83, 226);
}

.border_btn,
.sidebar_links p,
.edit_btn {
  transition: all 0.4s ease;
}
.border_btn:hover,
.edit_btn:hover {
  transition: all 0.4s ease;
  background: rgb(11, 83, 226);
  color: #fff;
}
.border_btn:hover p {
  color: #fff;
}
.border_btn:hover svg * {
  fill: #fff;
}
.sidebar_links p:hover {
  transition: all 0.4s ease !important;
  opacity: 0.7 !important;
}

.sidebar_links .active p {
  opacity: 0.6 !important;
}
svg {
  transition: all 0.4s ease;
}
svg:hover {
  transition: all 0.4s ease;
  opacity: 0.8;
}
